$primary:#3292a6;
$primary-overlay:rgba(50,146,1166,0.8);

body{
	margin-top:150px;
}

.navbar{
	box-shadow: 2px 2px 5px $primary;
	opacity:0.9;
	background:#dfe6e9;

.nav-item{
font-size: 1.4rem;
padding-right: 1.4rem;
}
}

// home section start //
#home-section{
	position: relative;
	background:url('img/mountains.jpg');
	min-height: 600px;
.primary-overlay{
	background:$primary-overlay;
	position:absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
}
@media(max-width: 768px){
	#home-section{
		min-height: 500px;
	h1{
		font-size: 4em;
		}
	}
}

// why-section
#book{
		width: 50%;
		margin:auto;
		border-bottom: 1px #ff7675;
}
#authers{
		width: 50%;
		margin:auto;
		border-bottom: 1px #ff7675;
}

#auther{
	img{
		margin-top: -50px;
	}
	
.card:hover{
	background:$primary;
	color: white;
}

.fab{
	color: white;
}
}